@import url('https://fonts.googleapis.com/css?family=Exo+2|Nova+Flat');

* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    background-color: #0068B2;
    font-family: 'Exo 2', sans-serif;
}

.alink {
    color: inherit;
    text-decoration: inherit;
}

.alink:hover {
    color: inherit;
    text-decoration: inherit;
}

.alink:visited {
    color: inherit;
    text-decoration: inherit;
}

#title {
    font-family: 'Nova Flat', cursive;
    grid-column-start: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    padding: 1rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    color: white;
    background: #FF9800;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    text-align: center;
}

#subtitle {
    font-size: 1rem;
    font-style: italic;
    text-align: center;
}

#header {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
}

#nav {
    display: grid;
    justify-items: center;
    align-items: center;
}

#nav-bar {
    max-width: 864px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 28px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    background: #0094FF;
    align-items: center;
}

.nav-item {
    color: white;
    font-family: 'Nova Flat', cursive;
    font-size: 1.1rem;
    padding: 8px;
    text-align: center;
    text-decoration: underline;
}

.nav-selected {
    font-style: oblique;
    font-weight: bold;
}


#content {
    margin-top: 20px;
    margin-bottom: 40px;
    justify-content: center;
    display: grid;
    grid-template-rows: 1fr;
    grid-gap: 16px;
}    

#price-selector {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 12px;
}

.price-item {
    background-color: white;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.price-item-header {
    background-color: #FF580D;
    font-size: 1.3rem;
    color: white;
    font-family: 'Nova Flat', cursive;
    padding: 6px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.price-item-content {
    padding: 8px;
    text-align: center;
}

input {
    border: none;
    outline: none;
    border-bottom: #0094FF 2px solid;
    font-family: 'Exo 2', sans-serif;
    font-size: 1.2rem;
    text-align: center;
    width: 5rem;
}

input:focus {
    border-bottom: #FF580D 2px solid;
}

.item {
    min-width: 864px;
    max-width: 864px;
    background: white;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.cat-message {
    font-size: 2rem;
    padding: 16px;
    text-align: center;
}
 
.itemArticleHeader {
    color: white;
    background: #FF580D;
    padding: 8px;
    padding-left: 22px;
    font-size: 2rem;
    font-family: 'Nova Flat', cursive;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.itemHeader {
    display: grid;
    grid-template-columns: auto 1fr;
    font-size: 2rem;
    font-family: 'Nova Flat', cursive;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.itemTitle {
    color: white;
    background: #FF9800;
    padding:8px;
}

.itemTitlePrice {
    color: white;
    background: #FF580D;
    padding: 8px;
}

.itemArticleContent {
    padding: 22px;
}

.itemContent {
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 12px;
}

img {
    width: 100%;
    height: auto;
}

.itemDescription {
    display: grid;
    grid-template-columns: 1fr;
}

.itemRatings {
    font-family: 'Nova Flat', cursive;
    padding: 8px;
    padding-left: 0px;
}

.itemDescriptionName {
    font-family: 'Nova Flat', cursive;
    font-size: 1.5rem;
    padding: 4px;
    padding-left: 0px;
}

.itemDescriptionSpecs {
    font-family: 'Nova Flat', cursive;
    font-size: 1.2rem;
    padding: 8px;
    padding-left: 0px;
}

.itemButton {
    font-family: 'Nova Flat', cursive;
    text-align: center;
    padding: 10px;
    margin: 10px;
    background: #FFCE0D;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    justify-self: center;
    color: inherit;
    text-decoration: inherit;
    align-self: center;
    font-size: 1.1rem;
}

.itemButton:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    filter: brightness(107%);
}

.itemButton:visited {
    text-decoration: inherit;
    color: inherit;
}

@media screen and (max-width: 864px) {
    .item {
        min-width: 100vw;
    }

    .itemContent {
        grid-template-columns: 1fr;
    }

    #nav-bar {
        display: none;
    }
}